<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head layout:include="fragments/header :: headerFragment">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-fileupload.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-fileupload.css}" />
    <meta charset="utf-8"/>
    <title>Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="write to support"/>
    <meta name="author" content="Maksym Goroshkevych"/>

</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<body layout:include="fragments/navbar :: navbarFragment" th:remove="tag" />
<div class="container">
    <section>
        <div class="row">
            <form class="form-horizontal well" action="/support.html" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <div id="legend">
                        <legend>Write to support</legend>
                    </div>
                    <div class="alert alert-success" th:if="${emailSend}">
                        <a class="close" data-dismiss="alert">x</a>
                        <span>Thanks! Your request was sent to support. You will get answer as fast as possible.</span>
                    </div>
                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="email">Your email address*</label>
                        <div class="controls">
                            <input type="email" id="email" name="email" class="input-xlarge" required="" />
                            <p class="help-block">Please provide your E-mail</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Subject -->
                        <label class="control-label" for="subject">Topic*</label>
                        <div class="controls">
                            <input type="text" id="subject" name="subject" class="input-xlarge" required="" />
                        </div>
                    </div>
                    <div class="control-group" >
                        <p>Description*</p>
                        <div>
                            <textarea id="explanation" style="width:95%;" required="" name="description" rows="5"/>
                            <p>To expedite your request, please provide as much detail as possible.</p>
                        </div>
                    </div>
                    <!-- file upload -->
                    <div id="fileUploadDiv" class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                            <div class="uneditable-input span3">
                                <i class="icon-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                            </div>
                            <span class="btn btn-file">
                                <span class="fileupload-new" onclick="$('#file').click();">Select file</span>
                                <input id="file" type="file" name="file" style="display:none;"/>
                            </span>
                            <a href="#" id="resetFileUploadBtn" class="btn fileupload-exists" data-dismiss="fileupload"
                                    onclick="$('#fileUploadDiv input').first().remove();">Remove</a>
                        </div>
                    </div>
                    <br/>
                    <div id="image-errors" />
                    <div class="alert alert-warning">
                        <strong>Notice!</strong>
                        File size should be less than 10Mb
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <!-- footer div -->
    <body layout:include="fragments/footer :: footerFragment" th:remove="tag"/>
</div>
<!-- scripts -->
<body layout:include="fragments/scripts :: scriptsFragment" th:remove="tag"/>
<!-- file upload-->
<script th:src="@{/js/bootstrap/bootstrap-fileupload.js}" />
<script th:src="@{/js/bootstrap/bootstrap-fileupload.min.js}" />

<script th:src="@{/js/bootstrap/jqBootstrapValidation.js}" />
<script>
    //binds to onchange event of your input field
    $('#file').bind('change', function() {
        var  size = 0;
        try{
            size = this.files[0].size;
        }catch(e){}
        //this.files[0].size gets the size of your file.
        if (size > 10485759){
            $("#image-errors").html('<div class="alert alert-error"><a class="close" data-dismiss="alert">x</a> <span>File is too big!</span></div>');
            $("#resetFileUploadBtn").click();

        }

    });
    $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>

</body>
</html>