<!-- Footer
================================================== -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body layout:fragment="footerFragment">
    <footer class="footer">
        <div class="container">
            <p id="copyrights">&copy; 2013 <a href="http://addexam.com/">AddExam.com</a> all rights reserved</p>
            <div class="links">
                <a href="/support.html">Support</a>
                <a href="/contacts.html">Contacts</a>
            </div>
        </div>
    </footer>
</body>
</html>