<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="timerFragment">

<!-- Timer left div, for showing this div time attribute should be set -->
<div id="timer" th:if="${time}">
    <h2>Time left:</h2>
    <h3 id="timer-count" />
    <!-- timer initialization script -->
    <script th:src="@{/js/jquery/jquery.min.js}" />
    <script th:src="@{/js/jquery/jquery.timer.js}" />
    <script th:src="@{/js/custom/timer.js}" />
    <script th:inline="javascript" th:if="${time}">
        /*<![CDATA[*/
        var count = /*[[${time}]]*/;
        var attemptId = /*[[${attemptId}]]*/ "";
        /*]]>*/
        timer = $.timer(function() {
            count--;
            if ( 0 >= count){
                window.location = attemptId + "/finish.html";
            }
            $('#timer-count').html(formatTime(count));
        });
        timer.set({ time : 1000, autostart : true });
    </script>
</div>

</body>
</html>